In [56]:
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [57]:
df = pd.read_csv("./data/preprocessed_train_fin_two.csv") # 학습용 데이터
df.head()

,bant_submit,business_unit,com_reg_ver_win_rate,customer_idx,customer_type,enterprise,historical_existing_cnt,id_strategic_ver,it_strategic_ver,idit_strategic_ver,...,response_corporate,expected_timeline,ver_cus,ver_pro,ver_win_rate_x,ver_win_ratio_per_bu,business_area,business_subarea,lead_owner,is_converted
0,1.0,AS,0.066667,32160,End-Customer,Enterprise,0,0,0,0,...,LGEPH,less than 3 months,1,0,0.003079,0.026846,corporate / office,Engineering,0,True
1,1.0,AS,0.066667,23122,End-Customer,Enterprise,12,0,0,0,...,LGEPH,less than 3 months,1,0,0.003079,0.026846,corporate / office,Advertising,1,True
2,1.0,AS,0.088889,1755,End-Customer,Enterprise,144,0,0,0,...,LGEIL,less than 3 months,1,0,0.003079,0.026846,corporate / office,Construction,2,True
3,1.0,AS,0.088889,4919,End-Customer,Enterprise,0,0,0,0,...,LGEIL,less than 3 months,1,0,0.003079,0.026846,corporate / office,IT/Software,3,True
4,1.0,AS,0.088889,17126,Specifier/ Influencer,Enterprise,0,0,0,0,...,LGEIL,less than 3 months,0,0,0.003079,0.026846,corporate / office,NaN,4,True

In [58]:
print(len(df.columns))
df.columns

27

Index(['bant_submit', 'business_unit', 'com_reg_ver_win_rate', 'customer_idx',
       'customer_type', 'enterprise', 'historical_existing_cnt',
       'id_strategic_ver', 'it_strategic_ver', 'idit_strategic_ver',
       'customer_job', 'lead_desc_length', 'product_category',
       'product_subcategory', 'product_modelname', 'customer_country.1',
       'customer_position', 'response_corporate', 'expected_timeline',
       'ver_cus', 'ver_pro', 'ver_win_rate_x', 'ver_win_ratio_per_bu',
       'business_area', 'business_subarea', 'lead_owner', 'is_converted'],
      dtype='object')

In [59]:
# categorical columns

for col in df.columns:
    if df[col].dtype != 'int64' and df[col].dtype != 'float64':
        print(col)

business_unit
customer_type
enterprise
customer_job
product_category
product_subcategory
product_modelname
customer_country.1
customer_position
response_corporate
expected_timeline
business_area
business_subarea
is_converted

## business_unit

In [60]:
print('number of unique values in business_unit: '+str(len(df.business_unit.unique()))+'\r\n')
print(df.business_unit.value_counts())
# print('\r\nnumber of rows with NA value: '+str(len(df.business_unit.isna())))

number of unique values in business_unit: 5

business_unit
ID          24863
AS          22650
IT           7979
Solution      287
CM              1
Name: count, dtype: int64

## customer_type

In [61]:
print('number of unique values in business_unit: '+str(len(df.customer_type.unique()))+'\r\n')
print(df.customer_type.value_counts())

number of unique values in business_unit: 34

customer_type
Unknown                         41358
End-Customer                     6552
End Customer                     3546
Specifier/ Influencer            2328
Channel Partner                  1282
Service Partner                   316
Solution Eco-Partner              128
Installer/Contractor               42
Specifier / Influencer             38
Corporate                          28
Engineer                           18
HVAC Engineer                      17
Technician                         16
Consultant                         15
Developer                          14
Other                              10
Software/Solution Provider          7
End-user                            7
Manager / Director                  7
Home Owner                          6
Etc.                                6
Architect/Consultant                5
Homeowner                           5
Installer                           5
Interior Designer                   5
Distributor                         4
Others                              4
Reseller                            4
Dealer/Distributor                  2
Software / Solution Provider        1
Technical Assistant                 1
Commercial end-user                 1
System Integrator                   1
Administrator                       1
Name: count, dtype: int64

## enterprise

In [62]:
print('number of unique values in business_unit: '+str(len(df.enterprise.unique()))+'\r\n')
print(df.enterprise.value_counts())

number of unique values in business_unit: 2

enterprise
Enterprise    35638
SMB           20142
Name: count, dtype: int64

## customer_job

In [63]:
print('number of unique values in business_unit: '+str(len(df.customer_job.unique()))+'\r\n')
print(df.customer_job.value_counts())

number of unique values in business_unit: 561

customer_job
engineering                       6025
other                             4502
administrative                    3282
education                         2260
sales                             2138
                                  ...
consultant,cabinet fabricator        1
appliance specialist                 1
av estimator                         1
purchasers                           1
exhibition / convention center       1
Name: count, Length: 560, dtype: int64

## product_category

In [64]:

print('number of unique values in business_unit: '+str(len(df.product_category.unique()))+'\r\n')
print(df.product_category.value_counts())

number of unique values in business_unit: 358

product_category
interactive digital board                     6090
vrf                                           5238
multi-split                                   3548
video wall signage                            2002
etc.                                          1954
                                              ...
pc,tv                                            1
system ac                                        1
sac                                              1
gscd046                                          1
monior/monitor tv,refrigerator,audio/video       1
Name: count, Length: 357, dtype: int64

## product_subcategory

In [65]:

print('number of unique values in business_unit: '+str(len(df.product_subcategory.unique()))+'\r\n')
print(df.product_subcategory.value_counts())

number of unique values in business_unit: 11

product_subcategory
Others                                    6235
All Medical Displays                       440
Interactive Digital Board                  413
TR3BF Series                               370
Diagnostic Monitors                        276
Transparent OLED Signage                   270
49" 500 nits FHD Slim Bezel Video Wall     265
Transparent LED Film                       264
TR3DJ Series                               242
One:Quick Flex                             231
Name: count, dtype: int64

## product_modelname

In [66]:

print('number of unique values in business_unit: '+str(len(df.product_modelname.unique()))+'\r\n')
print(df.product_modelname.value_counts())

number of unique values in business_unit: 11

product_modelname
Others                     6469
UltraFine Ergo(32UN880)     519
28MQ780                     471
All Medical Displays        348
43HT3WJ                     278
55CT5WJ                     258
55VSM5J                     198
Ergo Dual(27QP88D)          167
Diagnostic Monitors         165
75TC3D                      158
Name: count, dtype: int64

## customer_country.1

In [67]:

print('number of unique values in business_unit: '+str(len(df['customer_country.1'].unique()))+'\r\n')
print(df['customer_country.1'].value_counts())

number of unique values in business_unit: 405

customer_country.1
India                                                 16625
Brazil                                                 8393
United States                                          4953
Mexico                                                 2511
Philippines                                            2467
                                                      ...
India//mumbai                                             1
2100 Engineer Rd, Oakland, CA 94607, United States        1
Swaziland                                                 1
India/lucknow                                             1
Manaus                                                    1
Name: count, Length: 404, dtype: int64

## customer_position

In [68]:

print('number of unique values in business_unit: '+str(len(df.customer_position.unique()))+'\r\n')
print(df.customer_position.value_counts())

number of unique values in business_unit: 117

customer_position
none                      17667
manager                    7905
ceo/founder                7745
other                      6115
director                   4735
                          ...
principal & director          1
business partner              1
hon dean                      1
chairman                      1
radiology professional        1
Name: count, Length: 117, dtype: int64

## response_corporate

In [69]:
print('number of unique values in business_unit: '+str(len(df.response_corporate.unique()))+'\r\n')
print(df.response_corporate.value_counts())

number of unique values in business_unit: 53

response_corporate
LGEIL    16684
LGESP     8808
LGEUS     5136
LGEPH     2542
LGEMS     2531
LGEGF     2020
LGECB     2011
LGEUK     1634
LGECL     1255
LGEPS     1222
LGESJ     1139
LGEPR     1002
LGEDG      938
LGEIS      846
LGEPL      777
LGEEG      627
LGEES      578
LGETK      535
LGEVH      524
LGEAR      489
LGEKR      426
LGEHK      369
LGESL      343
LGEAP      340
LGEMK      319
LGEFS      293
LGEAF      283
LGEIN      279
LGESA      259
LGELF      256
LGECI      254
LGETH      181
LGEEF      157
LGEPT      109
LGEML      108
LGEBN       95
LGEYK       75
LGEHS       51
LGETT       46
LGECH       43
LGEJP       39
LGEAS       32
LGESW       30
LGEMC       28
LGERO       26
LGEEB       13
LGEAG        8
LGERA        8
LGECZ        7
LGELA        2
LGEUR        1
LGEIR        1
LGEBT        1
Name: count, dtype: int64

## expected_timeline

In [70]:

print('number of unique values in business_unit: '+str(len(df.expected_timeline.unique()))+'\r\n')
print(df.expected_timeline.value_counts())

number of unique values in business_unit: 7

expected_timeline
Others                 28940
less than 3 months     16843
3 months ~ 6 months     4915
more than a year        2874
9 months ~ 1 year       1070
6 months ~ 9 months     1043
etc.                      95
Name: count, dtype: int64

## business_area

In [71]:

print('number of unique values in business_unit: '+str(len(df.business_area.unique()))+'\r\n')
print(df.business_area.value_counts())

number of unique values in business_unit: 13

business_area
corporate / office                3989
retail                            2924
hotel & accommodation             1960
special purpose                   1873
residential (home)                1786
education                         1682
hospital & health care            1023
factory                           1013
government department              635
public facility                    502
transportation                     292
power plant / renewable energy     108
Name: count, dtype: int64

## business_subarea

In [72]:

print('number of unique values in business_unit: '+str(len(df.business_subarea.unique()))+'\r\n')
print(df.business_subarea.value_counts())

number of unique values in business_unit: 87

business_subarea
Others                           1585
Other Stores                      270
Hospital                          245
Manufacturing Factory / Plant     190
Construction                      182
                                 ...
Duty Free Shop                      2
Dormitory                           1
Casino Resort                       1
Holdings                            1
Travel Agency                       1
Name: count, Length: 86, dtype: int64